:root {
	--background1: rgba(255,139,190,1);
	--background2: rgb(255, 255, 255);
	--background3: rgba(138,255,254,1);
    --background4:background: rgb(255,139,190);
	background: radial-gradient(circle, rgba(255,139,190,1) 0%, rgba(138,255,254,1) 100%);
	--background5: background: rgb(255,139,190);
	background: linear-gradient(0deg, rgba(255,139,190,1) 0%, rgba(138,255,254,1) 100%);

.img {
	width: 300px;
	height: 250px;
}

button {
	color: rgb(0, 0, 0);
	outline-width: 300px;
	background-color: var(--background1);
	outline-color: none;
	border: none;
}

.cart {
	color: rgb(0, 0, 0);
	outline-width: 200px;
	background-color: 0;
	outline-color: none;
	border: none;
	box-shadow: 0 0 30px rgb(255, 255, 255);
}

.back {
	display: flex;
	justify-content: space-between;
	box-shadow: rgb(167, 162, 162);
}

.arrow {
	display: inline-block;
}

.all {
	display: inline-block;
}

.cardMain {
	display: flex;
	box-shadow: rgb(114, 112, 112);
}

.card {
	box-shadow: 0 0 15px gray;
	/* width: 800px; */
	box-shadow: rgb(124, 120, 120);
	transition: all 0.5s;
	background: var(--background2);
}
.card:hover {
	transform: scale(1.1);
}

.dolors {
	color: burlywood;
}

.cardsBox {
	display: grid;
	grid-template-columns: repeat(2, 5fr);
	gap: 40px 100px;
	min-width: none;
	max-width: 1360px;
	margin: 0 auto;
	margin-top: 6%;
}

.capBox{
	position: fixed;
	z-index: 10000;
	width: 100%;
	top: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var( --background1);
	box-shadow: 10% var( --background3);
	text-align: center;

}

.kids{
	background-color:  var( --background1);
	box-shadow: 10%  var( --background3);
	text-align: center;
	/* min-width: none; */
	max-width: 1360px;
	/* left: 50%; */
	top: 50%;
}
@media(max-width : 1050px) {
	.cardsBox{
grid-template-columns: repeat(1, 1fr);
	}
}
@media(max-width : 992px) {
	.capBox{

	}
}
@media(max-width : 768px){
	{

	}
}
@media(max-width : 500px){
	{

	}
}